/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* --------------------------------------- */

img {
	border-radius: 50%;
}

.kontejner {
	box-sizing: border-box;
	border: solid gray;
	border-radius: 10px;
	display: block;
	flex-wrap: nowrap;
	padding: 5px;
	margin: 10px;
  
	text-align: center;
}

h1 {
	text-align: center;
	}
h2 {
	margin: 5px;
	}


/* Tablet */
@media screen and (min-width: 541px) and (max-width:960px) {
.kontejner {
		width: 45%;
		display: flex;
		padding: 10px;
		margin: 10px;
		
	}
.flexbox {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 10px;
	}
.zena {
		display: flex;
		flex-direction: column;
		text-align: left;
		margin: 10px;
	}
img {
		float: left;
		margin: 10px;
		width: 80px;
		}
}

/* PC */
@media screen and (min-width: 961px) {
.flexbox {
		box-sizing: border-box;
		display: flex;
		flex-wrap: nowrap;
		padding: 0px;
	}
.kontejner {
		height: 300px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 25%;
	}
.zena {
		text-align: center;
		padding: 15px;
	}
}
